@import url('https://fonts.googleapis.com/css2?family=Acme&family=Permanent+Marker&family=Ranchers&display=swap');

.maintitle {
   color: white;
   font-family: 'Permanent Marker', cursive;
   font-size: 5rem;
   margin-bottom: 100px;
   text-shadow: 5px 5px 5px black;

   @media (max-width: 768px) {
      font-size: 3rem;
      line-height: 5rem;
      margin-bottom: 50px;
   }
}


main {
   color: white;
   background-image: url(../img/mainbgb.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   font-family: 'Acme', sans-serif;
   font-size: 3rem;
   min-height: 100vh;
   padding: 80px;
   text-align: center;
   text-shadow: 5px 5px 5px black;

   p {
      margin-bottom: 40px;
   }

   @media (max-width: 768px) {

      background-image: url(../img/mainbgs.jpg);
      min-height: 100vh;
      padding: 30px;

      p {
         font-size: 1.5rem;
         text-shadow: 3px 3px 3px black;
      }
   }
}


.faq {
   padding-top: 30px;
   min-height: 100vh;
   text-decoration: none;
   background-color: #2d0470;
   color: white;
   bottom: 0;

   .titleh2 {
      line-height: 5rem;
      text-align: center;
   }

   img {
      width: 50px;
      margin-bottom: 20px;
   }

   p {
      margin-left: 10px;
   }

   strong {
      margin-left: 10px;
   };

   .finalmessage {
      font-family: 'Permanent Marker', cursive;
      margin-top: 80px;
      text-align: center;
      font-size: 4rem;
      line-height: 6rem;
   }

   @media (max-width: 768px) {
      .finalmessage {
         font-family: 'Permanent Marker', cursive;
         margin-top: 20px;
         text-align: center;
         font-size: 3rem;
         line-height: 6rem;
      }
   }
}

.questionanswer {
   display: grid;
   grid-template-columns: 50px 1fr;

}